.navbar{
    background-color: white;
    
}
.cajaSubMenu{
    font-size: medium;

}
.nosotros{
    text-decoration: none;
    color: rgba(var(--bs-emphasis-color-rgb), 0.65)
    
}

.opciones{
    margin-left: 3rem;
}