.cajaPadreMaps {
    width: 25%;
    display: grid;
    justify-content: center;
    
 
}

.contenedorMapa {
    width: 95%;
   
}

.contenedorSection {
    width: 100%;
    height: 100%;
    
    background-color: white;

}


